@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
  box-sizing: border-box;
}
body{
  background-color: #171717;
  font-family: 'Space Grotesk', monospace;
}

@media (max-width: 640px) {
    div.josh{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 0.805rem/* 14px */;
        line-height: 1.25rem/* 20px */;
    }
    .topmrmr{
      margin-top: 10px;
    }
}

